.menu-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: <?php print $bgColor; ?>;
}

.menu-li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

.menu-li a:hover {
  background-color: #555;
  color: white;
  cursor: pointer;
}
