<table style="width: 1000px">
  <tr class="only-new-row" style="display:none;">
    <td style="width: 10%">Cím: </td>
    <td colspan="2"><input type="text" id="tb-news-title" maxlength="50" title="Hír cime" style="width:95%"/></td>
  </tr>
  <tr class="only-new-row" style="display:none">
    <td>Látható?<input type="checkbox" id="cb-news-visible" title="Publikosan látható vagy még nem" /></td>
    <td colspan="2">Kiemelt?<input type="checkbox" id="cb-news-highlight" title="A kiemeltek mindig a hir lista elejére kerülnek, mig őket követő a többi hir a létrehozás forditott sorrendjében"/></td>
  </tr>
  <tr>
    <td colspan="3" style="width: 400px;">
      <textarea
      id="tb-news-content"
      style="height:200px;max-height: 200px;width:100%">
      </textarea>
    </td>
  </tr>
</table>
