<div style="margin: auto;width: 60%; border: 3px solid #73AD21; padding: 10px; text-align:center">
  <table class="mainAreaTable">
		<tr>
			<td rowspan="4">
				<img src="images/key_refresh_2.png"/>
			</td>
			<td>Jelenlegi jelszó:</td>
			<td><input type="password" id="oldPassword"  maxlength="20" title="Jelenlegi jelszó megadása"/></td>
		</tr>
		<tr>
			<td>Új jelszó:</td>
			<td><input type="password" id="newPassword"  maxlength="20" title="Új jelszó"/></td>
		</tr>
		<tr>
			<td>Jelszó ismét:</td>
			<td><input type="password" id="newPasswordAgain"  maxlength="20" title="Új jelszó, megismétlése (nehogy elrontsuk :) )" /></td>
		</tr>
		<tr>
			<td colspan="2"><button id="sendChangePassword" title="Adatok elküldése a szervernek" onclick="passwordChange();">Jelszó csere</button></td>
		</tr>
	</table>
  <script type="text/javascript">
    function  passwordChange(){
        var oldPassword = $('#oldPassword').val();
		    var newPassword = $('#newPassword').val();
		    var newPasswordAgain = $('#newPasswordAgain').val();
		    var minPasswordLength = 4;
		    var result = '';

		      if (Util.isNullOrEmpty(oldPassword)){
			         result = "Adj meg régi jelszót!";
		      }
		      else if (newPassword != newPasswordAgain) {
			         result = "Nem egyezik a két új jelszó!";
		      }

        if (newPassword < minPasswordLength){
        	result = "Az új jelszónak minimum 4 karakter hosszúnak kell lennie!";
        }

		    if (!Util.isNullOrEmpty(result)){
          Util.showErrorNotificationBar(result);
        }
        else {
			       var data = JSON.stringify({
	             'oldPassword': oldPassword
	            ,'newPassword': newPassword
	        });

    			$.ajax({
    			    url: "../rest/changePassword.php",
    			    type: 'POST',
    			    data: data,
    			    success: function(data){
    			    	    $('#oldPassword').val('');
    					      $('#newPassword').val('');
    					      $('#newPasswordAgain').val('');
    	    			    Util.showNotificationBar('Sikeres jelszó módosítás történt!', 2000, 'grey', 'white');
    			    },
    			    error: function(response) {
    			        if (response.status == 401){
    			        	window.location.replace('index.php');
    			        }
    			        else if(response.status == 500){
                    Util.showErrorNotificationBar(response.responseText);
    			        }
    			    }
    			});
    		}

    }
  </script>

</div>
